In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

WARNING: Ignoring invalid distribution -rso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [2]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [3]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
search_field_designation= driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys('Data Analyst')

In [6]:
search_field_loc = driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
search_field_loc.send_keys("Bangalore")

In [7]:
search_button= driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div[6]")
search_button.click()

In [8]:
job_title=[]
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_title.append(i.text)
    
job_title[0:5]

['Data Analyst',
 'APRP Manager / Senior Data Analyst - MeritTrac Services',
 'Sr Data Analyst',
 'Senior Data Management Analyst',
 'Senior Data Analyst - PLM Data Migration']

In [9]:
Company_Name=[]
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    Company_Name.append(i.text)
    
Company_Name[0:5]

['Cargill',
 'MeritTrac',
 'Inspira Enterprise India Pvt. Ltd.',
 'Wells Fargo',
 'CGI']

In [10]:
job_location=[]
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in loc_tags:
    job_location.append(i.text)
    
job_location[0:5]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [11]:
Experience= []
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in exp_tags:
    Experience.append(i.text)
    
Experience[0:5]

['3-5 Yrs', '9-14 Yrs', '3-4 Yrs', '5-7 Yrs', '3-6 Yrs']

In [12]:
print(len(job_title), len(Company_Name), len(job_location), len(Experience))

20 20 20 20

In [14]:
import pandas as pd
jobs = pd.DataFrame()
jobs['Job_Title'] = job_title[:10]
jobs['Company_Name'] = Company_Name[:10]
jobs['Experience'] = Experience[:10]
jobs['Location'] = job_location[:10]
jobs

,Job_Title,Company_Name,Experience,Location
0,Data Analyst,Cargill,3-5 Yrs,Bangalore/Bengaluru
1,APRP Manager / Senior Data Analyst - MeritTrac...,MeritTrac,9-14 Yrs,Bangalore/Bengaluru
2,Sr Data Analyst,Inspira Enterprise India Pvt. Ltd.,3-4 Yrs,Bangalore/Bengaluru
3,Senior Data Management Analyst,Wells Fargo,5-7 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst - PLM Data Migration,CGI,3-6 Yrs,Bangalore/Bengaluru
5,People Data Analyst,Western Digital,6-8 Yrs,Bangalore/Bengaluru
6,Associate Healthcare Research & Data Analyst,Clarivate,3-4 Yrs,Bangalore/Bengaluru
7,Lead Data Analyst,Mobile Premier League (MPL),4-7 Yrs,Bangalore/Bengaluru
8,Contractual Hiring For Top MNC || Business Dat...,TeamLease,5-8 Yrs,Bangalore/Bengaluru
9,Master Data Management Business Analyst,Accenture,6-8 Yrs,Bangalore/Bengaluru

In [15]:
driver.close()

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [16]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [17]:
driver=webdriver.Chrome("chromedriver.exe")

In [18]:
driver.get("https://www.naukri.com/")

In [19]:
driver.maximize_window()

In [20]:
search_title=driver.find_element_by_class_name('suggestor-input')
search_title.send_keys("Data Scientist")

In [21]:
search_loc=driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
search_loc.send_keys("Bangalore")

In [22]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div[6]")
search_button.click()

In [23]:
job_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [24]:
Job_Title=[]

for i in range(0, 10):
    Job_Title.append(job_tags[i].text)
    
Job_Title[0:4]

['Analystics & Modeling Specialist',
 'Assistant Manager - Data Science',
 'Senior Data Scientist',
 'Program Manager, Analytics']

In [25]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [26]:
Company_Name=[]

for i in range(0, 10):
    Company_Name.append(company_tags[i].text)
    
Company_Name[0:4]

['Accenture', 'Citiustech', 'Wipro', 'Uber']

In [27]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [28]:
Experience_Required=[]

for i in range(0, 10):
    Experience_Required.append(exp_tags[i].text)
    
Experience_Required[0:4]

['6-8 Yrs', '5-9 Yrs', '6-11 Yrs', '3-7 Yrs']

In [29]:
print(len(Job_Title), len(Company_Name), len(Experience_Required))

10 10 10

In [30]:
data=list(zip(Job_Title, Company_Name, Experience_Required))

In [31]:
import pandas as pd
df=pd.DataFrame(data, columns=['Job_Title', 'Company_Name', 'Experience_Required'])
df

,Job_Title,Company_Name,Experience_Required
0,Analystics & Modeling Specialist,Accenture,6-8 Yrs
1,Assistant Manager - Data Science,Citiustech,5-9 Yrs
2,Senior Data Scientist,Wipro,6-11 Yrs
3,"Program Manager, Analytics",Uber,3-7 Yrs
4,Data Scientist - Looking For Immediate Joiners,Wipro,5-10 Yrs
5,Data Scientist,Altair,2-7 Yrs
6,Senior Data Scientist,Boston Consulting Group,5-10 Yrs
7,Data Scientist - II,Bizongo,3-6 Yrs
8,Lead ML Scientist,Fractal Analytics,6-10 Yrs
9,Senior Data Scientist,Baker Hughes,6-8 Yrs

In [32]:
driver.close()

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [33]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [34]:
driver=webdriver.Chrome('chromedriver.exe')

In [35]:
driver.get("https://www.naukri.com/")

In [36]:
driver.maximize_window()

In [37]:
search_tags=driver.find_element_by_class_name("suggestor-input ")
search_tags.send_keys("Data Scientist")

In [38]:
search_button= driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div[6]")
search_button.click()

In [41]:
filter_loc=driver.find_element_by_xpath("/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]")
filter_loc.click()

In [42]:
filter_salary=driver.find_element_by_xpath("/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]")
filter_salary.click()

In [45]:
Job_title=[]
job_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in range(0, 10):
    Job_title.append(job_tags[i].text)
    
Job_title[0:4]

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Urgent hiring For Data Scientist (PHD Must Have)',
 'Manager - Data Science - Banking&Financial Services - IIM/ISB/MDI/FMS']

In [46]:
Job_loc=[]
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in range(0, 10):
    Job_loc.append(loc_tags[i].text)
    
Job_loc[0:4]

['Noida, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Temp. WFH - Noida, Pune',
 'Delhi / NCR, Bangalore/Bengaluru']

In [47]:
Company_Name=[]
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in range(0, 10):
    Company_Name.append(company_tags[i].text)
    
Company_Name[0:4]

['HCLTech', 'Boston Consulting Group', 'NGI Ventures', 'Black Turtle']

In [48]:
Experience_Required=[]
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in range(0, 10):
    Experience_Required.append(experience_tags[i].text)
    
Experience_Required[0:4]

['4-9 Yrs', '2-5 Yrs', '0-4 Yrs', '4-8 Yrs']

In [49]:
print(len(Job_title), len(Job_loc), len(Company_Name), len(Experience_Required))

10 10 10 10

In [50]:
data=list(zip(Job_title, Job_loc, Company_Name, Experience_Required))

In [51]:
import pandas as pd

df=pd.DataFrame(data, columns=['Job_Title', 'Job_Location', 'Company_Name', 'Experience_Required'])
df

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Data Scientist,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",HCLTech,4-9 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Urgent hiring For Data Scientist (PHD Must Have),"Temp. WFH - Noida, Pune",NGI Ventures,0-4 Yrs
3,Manager - Data Science - Banking&Financial Ser...,"Delhi / NCR, Bangalore/Bengaluru",Black Turtle,4-8 Yrs
4,Data Scientist / Sr. Data Scientist,Temp. WFH - Noida,Wegarner Solutions,3-8 Yrs
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,Data Scientist,Noida,Meon Technologies,2-5 Yrs
7,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
8,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
9,Data Scientist,New Delhi,Razor Group GmbH,2-3 Yrs

In [52]:
driver.close()

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [53]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [54]:
driver = webdriver.Chrome("chromedriver.exe")

In [55]:
driver.get("https://www.flipkart.com/")

In [56]:
close_button=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
close_button.click()

In [57]:
driver.maximize_window()

In [58]:
search_tags= driver.find_element_by_class_name("_3704LK")
search_tags.send_keys("sunglasses")

In [59]:
search_button= driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [62]:
Brand_Name=[]
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in range(0, 40):
    Brand_Name.append(brand_tags[i].text)
    
Brand_Name[0:4]

['Singco India', 'SUNBEE', 'Fastrack', 'Fastrack']

In [63]:
Description=[]
des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in range(0, 40):
    Description.append(des[i].text)
    
Description[0:4]

['Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)']

In [64]:
Price=[]
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in range(0,40):
    Price.append(price[i].text)
    
Price[0:4]

['₹575', '₹190', '₹649', '₹519']

In [66]:
next_page = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
next_page.click()

In [67]:
Product_list=[]

for i in range(0, 3):
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    for i in brand_tags:
        brand=i.text
        Product_list.append(brand)
        
    next_page=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_page.click()
    time.sleep(5)

In [68]:
Product_descp=[]

for i in range(0, 3):
    des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for i in des:
        descp=i.text
        Product_descp.append(descp)
        
    next_page=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_page.click()
    time.sleep(5)

In [69]:
Product_price=[]

for i in range(0, 3):
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for i in price:
        amount=i.text
        Product_price.append(amount)
    
    next_page=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_page.click()
    time.sleep(5)

In [70]:
print(len(Product_list), len(Product_descp), len(Product_price))

108 119 120

In [71]:
import pandas as pd
df=pd.DataFrame({})
df['BRAND_NAME']= Product_list[0:100]
df['DESCRIPTION']= Product_descp[0:100]
df['PRICE']= Product_price[0:100]

df

        BRAND_NAME                                        DESCRIPTION PRICE
0    VINCENT CHASE  Gradient, Toughened Glass Lens, UV Protection ...  ₹227
1           GANSTA  by Lenskart UV Protection Rectangular Sunglass...  ₹445
2   kingsunglasses      UV Protection Wayfarer Sunglasses (Free Size)  ₹649
3         Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹220
4     hayden haiza          UV Protection Rectangular Sunglasses (52)  ₹255
..             ...                                                ...   ...
95  ROZZETTA CRAFT              UV Protection Aviator Sunglasses (54)  ₹579
96            hipe  UV Protection, Gradient Over-sized Sunglasses ...  ₹339
97        Fastrack             UV Protection, Riding Glasses Sunglass  ₹399
98   VINCENT CHASE  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹236
99    Singco India  UV Protection, Polarized Wayfarer Sunglasses (...  ₹299

[100 rows x 3 columns]

In [78]:
driver.close()

InvalidSessionIdException: Message: invalid session id
Stacktrace:
Backtrace:
	Ordinal0 [0x0021ACD3+2075859]
	Ordinal0 [0x001AEE61+1633889]
	Ordinal0 [0x000AB680+571008]
	Ordinal0 [0x000CFBAD+719789]
	Ordinal0 [0x000D0F3F+724799]
	GetHandleVerifier [0x004CEED2+2769538]
	GetHandleVerifier [0x004C0D95+2711877]
	GetHandleVerifier [0x002AA03A+521194]
	GetHandleVerifier [0x002A8DA0+516432]
	Ordinal0 [0x001B682C+1665068]
	Ordinal0 [0x001BB128+1683752]
	Ordinal0 [0x001BB215+1683989]
	Ordinal0 [0x001C6484+1729668]
	BaseThreadInitThunk [0x75D3FA29+25]
	RtlGetAppContainerNamedObjectPath [0x775C7BBE+286]
	RtlGetAppContainerNamedObjectPath [0x775C7B8E+238]
	(No symbol) [0x00000000]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [73]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [74]:
driver=webdriver.Chrome('chromedriver.exe')

In [75]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)


urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)


url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)


for i in urls:
    driver.get(i)
    
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)

In [76]:
#Creating the Dataframe
import pandas as pd
df=pd.DataFrame({'Number of Stars': stars,
                'Short Review': short_review,
               'Full Review': complete_review})
df

,Number of Stars,Short Review,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,1,Absolute rubbish!,Worst product delivered by Flipkart\nAfter 10d...
96,5,Awesome,I dreamt about this day from a long time.... G...
97,5,Just wow!,Great iphone.\nI am writing this review after ...
98,5,Super!,Did an upgrade from 6s plus to iphone 11.\nAo ...
99,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...

In [77]:
driver.close()

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [79]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [80]:
driver = webdriver.Chrome("chromedriver.exe")

In [81]:
driver.get("https://www.flipkart.com/")

In [82]:
close_button=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
close_button.click()

In [83]:
search_field=driver.find_element_by_class_name("_3704LK")
search_field.send_keys('sneakers')

In [84]:
search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [86]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")

In [87]:
brand_list=[]

for i in range(0, 3):
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    for i in brand_tags:
        brand=i.text
        brand_list.append(brand)
        
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [88]:
description_list=[]

for i in range(0, 3):
    description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for i in description_tags:
        descp=i.text
        description_list.append(descp)
        
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [89]:
price_list=[]

for i in range(0, 3):
    price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for i in price_tags:
        price=i.text
        price_list.append(price)
        
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [90]:
discount_list=[]

for i in range(0, 3):
    discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for i in discount_tags:
        discount=i.text
        discount_list.append(discount)
        
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [91]:
import pandas as pd

df=pd.DataFrame({})
df['BRAND']=brand_list[0:100]
df['DESCRIPTION']= description_list[0:100]
df['PRICE']= price_list[0:100]
df['DISCOUNT']= discount_list[0:100]

df

,BRAND,DESCRIPTION,PRICE,DISCOUNT
0,Deals4you,High Tops Sneakers For Men,₹399,32% off
1,PERCENTX,Stylish Casual Sneakers Walikng Gym Wear Party...,₹474,52% off
2,RED TAPE,Perfect Stylish Casual Shoes For Girls & Women...,"₹1,149",70% off
3,Labbin,Mesh | Ultralightweight | Comfortable | Breath...,₹395,85% off
4,RED TAPE,Original Luxury Branded Fashionable Men's Casu...,"₹1,219",50% off
...,...,...,...,...
95,asics,Combo Pack Of 2 Casual Sneakers For Men,"₹1,427",55% off
96,Perma,Sneakers Shoes For Men Black Sneakers For Men,₹899,45% off
97,Layasa,Kwik FIT casual sneaker shoes and partywear sh...,₹899,52% off
98,BRUTON,Mesh Lace-Up Sneakers For Men,₹324,84% off
99,Deals4you,Sneakers For Men,₹363,60% off

In [92]:
driver.close()

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [112]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [113]:
driver=webdriver.Chrome("chromedriver.exe")

In [114]:
driver.get("https://www.myntra.com/shoes")

In [115]:
driver.maximize_window()

In [116]:
filter_price=driver.find_element_by_xpath("/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
filter_price.click()

In [117]:
filter_colour=driver.find_element_by_xpath("/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
filter_colour.click()

In [118]:
brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [119]:
description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")

In [120]:
price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")

In [121]:
next_page=driver.find_element_by_xpath("//li[@class='pagination-next']")
next_page.click()

In [124]:
Brand_Name=[]
for i in range(0, 2):
    brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    
    for i in brand_tags:
        brand=i.text
        Brand_Name.append(brand)
    
    next_page=driver.find_element_by_xpath("//li[@class='pagination-next']")   
    next_page.click()
    time.sleep(5)

In [126]:
Product_Description=[]
for i in range(0, 2):
    description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
    
    for i in description_tags:
        description=i.text
        Product_Description.append(description)
        
    next_page=driver.find_element_by_xpath("//li[@class='pagination-next']")   
    next_page.click()
    time.sleep(5)

In [125]:
Product_Price=[]
for i in range(0, 2):
    price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
    
    for i in price_tags:
        price=i.text
        Product_Price.append(price)
        
    next_page=driver.find_element_by_xpath("//li[@class='pagination-next']")   
    next_page.click()
    time.sleep(5)

In [127]:
print(len(Brand_Name), len(Product_Description), len(Product_Price))

100 100 100

In [128]:
import pandas as pd
df=pd.DataFrame({})
df['Brand_Name']=Brand_Name[0:100]
df['Product_Description'] = Product_Description[0:100]
df['Product_Price'] = Product_Price[0:100]

df

,Brand_Name,Product_Description,Product_Price
0,AfroJack,Men Woven Design Running Shoes,Rs. 1511Rs. 5599(73% OFF)
1,Skechers,Women Walking Shoes,Rs. 881Rs. 1798(51% OFF)
2,Puma,Men Solid Leather Derbys,Rs. 3824Rs. 4499(15% OFF)
3,Monrow,Men Running Shoes,Rs. 1599Rs. 1999(Rs. 400 OFF)
4,MANGO,Men Running Shoes,Rs. 589Rs. 999(41% OFF)
...,...,...,...
95,Shoetopia,Women Solid Ballerinas,Rs. 699
96,Skechers,Men Walking Shoes,Rs. 958Rs. 2995(68% OFF)
97,mr.wonker,Men Core Sports Shoe,Rs. 679Rs. 999(32% OFF)
98,U.S. Polo Assn.,Women Alpha Running Shoes,Rs. 1259Rs. 1399(10% OFF)
99,Red Tape,Men Driving Shoes,Rs. 532Rs. 1299(59% OFF)

In [129]:
driver.close()

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [130]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [131]:
driver=webdriver.Chrome("chromedriver.exe")

In [132]:
driver.maximize_window()

In [133]:
driver.get(" https://www.amazon.in")

In [134]:
search_tags=driver.find_element_by_xpath("//input[@class='nav-input nav-progressive-attribute']")
search_tags.send_keys("Laptop")

In [135]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [137]:
filter_tag=driver.find_element_by_xpath("//li[@class='a-spacing-micro']")
filter_tag.click()

In [138]:
title_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

In [139]:
rating_tags=driver.find_elements_by_xpath("//a[@class='a-popover-trigger a-declarative']")

In [140]:
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [141]:
Brand_Title=[]

for i in range(0, 10):
    Brand_Title.append(title_tags[i].text)
    
Brand_Title[0:4]

['ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W',
 'Acer Extensa 15 Lightweight Laptop 11th Gen Intel Core i3 Processor with 15.6" (39.6 cms) Full HD Display- (8 GB RAM/256GB SSD/Windows 11 Home/Intel UHD Graphics /1.7Kg/Black) EX215-54',
 'Lenovo IdeaPad D330 Intel Celeron N4020 10.1" (25cm)HD IPS Detachable 2-in-1 Laptop (4GB/128GB eMMC/Windows 10/1 Yr Warranty/Mineral Grey/1.1Kg), 82H0001YIN',
 'Honor MagicBook X 15, Intel Core i3-10110U / 15.6 inch (39.62 cm) Thin and Light Laptop (8GB/256GB PCIe SSD/Windows 10/Aluminium Metal Body/1.56Kg), Silver/Gray,(BohrBR-WAI9A)']

In [142]:
Ratings=[]

for i in range(0, 10):
    Ratings.append(rating_tags[i].text)
    
Ratings

['', '', '', '', '', '', '', '', '', '']

In [143]:
Price=[]

for i in range(0, 10):
    Price.append(price_tags[i].text)
    
Price[0:4]

['25,990', '31,918', '21,797', '32,990']

In [144]:
import pandas as pd
df=pd.DataFrame({})
df['Brand_Title'] = Brand_Title
df['Ratings'] = Ratings
df['Price'] = Price

df

                                         Brand_Title Ratings   Price
0  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...          25,990
1  Acer Extensa 15 Lightweight Laptop 11th Gen In...          31,918
2  Lenovo IdeaPad D330 Intel Celeron N4020 10.1" ...          21,797
3  Honor MagicBook X 15, Intel Core i3-10110U / 1...          32,990
4  HP ProBook 440 G8 Notebook PC, 11th Gen Intel ...          50,990
5  Lenovo ThinkBook 15 AMD Ryzen 3 5300U 15.6" (3...          37,990
6  ASUS VivoBook 14 (2021), Intel Core i5-1135G7 ...          49,990
7  Dell Inspiron 3511 Laptop, Intel i3-1115G4, 8G...          40,490
8  ASUS Vivobook 14, 14.0-inch (35.56 cms) FHD, I...          42,990
9  Lenovo IdeaPad Slim 1 AMD Ryzen 5 3500U 15.6" ...          42,500

In [145]:
driver.close()

Q9: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:

1.First get the webpage https://www.azquotes.com/

2. Click on Top Quotes

3. Than scrap a) Quote b) Author c) Type Of Quote

In [146]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [147]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [148]:
driver.maximize_window()

In [149]:
driver.get("https://www.azquotes.com/")

In [150]:
select = driver.find_element_by_xpath("/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
select.click()

In [151]:
quote_tags = driver.find_element_by_xpath("//a[@class='title']")

In [152]:
author_tags = driver.find_element_by_xpath("//div[@class='author']")

In [153]:
type_tags = driver.find_element_by_xpath("//div[@class='tags']")

In [154]:
#next_page=driver.find_element_by_xpath("//li[@class='next']")
#next_page.click()

In [155]:
quote_title = []
quote_tags = driver.find_elements_by_xpath("//a[@class='title']")
for i in quote_tags:
    quote_title.append(i.text)
    
len(quote_title)

100

In [156]:
author_title = []
author_tags = driver.find_elements_by_xpath("//div[@class='author']")
for i in author_tags:
    author_title.append(i.text)
    
len(author_title)

100

In [157]:
type_title = []
type_tags = driver.find_elements_by_xpath("//div[@class='tags']")
for i in type_tags:
    type_title.append(i.text)
    
len(type_title)

100

In [158]:
df = pd.DataFrame()
df['Quote_title'] = quote_title
df['Author_title'] = author_title
df['Type_title'] = type_title
df

,Quote_title,Author_title,Type_title
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
98,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [159]:
driver.close()

### Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/. This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.

Q11: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on left side.
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the

In [160]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [171]:
driver = webdriver.Chrome('chromedriver.exe')

In [172]:
driver.maximize_window()

In [173]:
driver.get(' https://www.motor1.com/')

In [174]:
click_1 = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div/div/div[1]/div")
click_1.click()

In [176]:
click_2 = driver.find_element_by_xpath("/html/body/div[3]/div[1]/div[3]/ul/li[4]/a")
click_2.click()

In [177]:
click_3 = driver.find_element_by_xpath("/html/body/div[2]/div[9]/div[1]/div[1]/div/div/div[1]/div/div[1]/h3/a")
click_3.click()

In [178]:
car_name = []
car_tags = driver.find_elements_by_xpath("//h3[@class='subheader']")
for i in car_tags:
    car_name.append(i.text)
    
len(car_name)

51

In [179]:
df = pd.DataFrame()
df['Cars_Name'] = car_name[0:50]
df

                          Cars_Name
0                         Drako GTE
1                     De Tomaso P72
2                 Ferrari LaFerrari
3                     Pagani Huayra
4                      McLaren Elva
5                       Czinger 21C
6                     Ferrari Monza
7                Gordon Murray T.33
8                 Koenigsegg Gemera
9                       Zenvo TSR-S
10               Hennessey Venom F5
11                  Bentley Bacalar
12    Hispano Suiza Carmen Boulogne
13           Bentley Mulliner Batur
14                     Deus Vayanne
15                      SSC Tuatara
16                      Lotus Evija
17              Aston Martin Vulcan
18                       Delage D12
19                McLaren Speedtail
20                     Rimac Nevera
21                    Pagani Utopia
22             Pininfarina Battista
23                Ferrari FXX K Evo
24               Gordon Murray T.50
25             Lamborghini Countach
26         Mercedes-AMG Project One
27              Aston Martin Victor
28      Hennessey Venom F5 Roadster
29                 Koenigsegg Jesko
30            Aston Martin Valkyrie
31        W Motors Lykan Hypersport
32                    McLaren Solus
33        Pagani Huayra Roadster BC
34         Bugatti Chiron Pur Sport
35                 Lamborghini Sian
36                 Koenigsegg CC850
37  Bugatti Chiron Super Sport 300+
38               Lamborghini Veneno
39                   Bugatti Bolide
40                  Bugatti Mistral
41              Pagani Huayra Imola
42                     Bugatti Divo
43              SP Automotive Chaos
44                 Pagani Codalunga
45         Mercedes-Maybach Exelero
46               Bugatti Centodieci
47             Rolls-Royce Sweptail
48         Bugatti La Voiture Noire
49           Rolls-Royce Boat Tail*